@model IEnumerable<P.V.WantHelp_.Models.sesiones>

@{
    ViewBag.Title = "ClasesCurso";
}

<h2>ClasesCurso</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descriocion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descriocion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idCu)
        </td>
        <td>
            <a href="/Estudiante/IngresarAlCurso/@item.id">Ingresar a las Clases del Curso</a>
        </td>
    </tr>
}

</table>
