@model IEnumerable<P.V.WantHelp_.Models.Material>

@{
    ViewBag.Title = "Index";
}

<link href="~/cssInk/css/ink.css" type="text/css" rel="stylesheet"/>

<style> 
footer {
        clear:both;
        background-color: #414E5E;   
        font-size: .8em;
        height: 61px;
        border-radius: 5px 5px 5px 5px;
        margin:2px 2px 2px 2px;
    }
    </style>

<section class="content-wrapper main-content clear-fix">
<div id="body_Curso">
    <div class="centrarH">
<h2 class="letraD">Material...</h2>

<p>
    <a href="/Material/Create" class="tooltip" title="Nuevo material" style="display:none;">
    <img src="~/Image/add-item.png"/>
    </a>
</p>
<table class="ink-table hover">
    <tr>
        <th style="display:none;">
            @Html.DisplayNameFor(model => model.Id_Material)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cursos.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.archivos)
        </th>
        <th style="display:none;">
            @Html.DisplayNameFor(model => model.urlBase)
        </th>
        <th style="display:none;">
            @Html.DisplayNameFor(model => model.urlHost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="display:none;">
            @Html.DisplayFor(modelItem => item.Id_Material)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cursos.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.archivos)
        </td>
        <td style="display:none;">
            @Html.DisplayFor(modelItem => item.urlBase)
        </td>
        <td style="display:none;">
            @Html.DisplayFor(modelItem => item.urlHost)
        </td>

       <td>
            <a href="/material/Edit/@item.Id_Material" class="tooltip" title="Editar">
                <img src="~/Image/edit.png"/>
            </a><span class="barrita">|</span>
            <a href="/material/Details/@item.Id_Material" class="tooltip" title="Detalle">
                <img src="~/Image/addressbook.png"/>
            </a><span class="barrita">|</span>
            <a href="/material/Delete/@item.Id_Material" class="tooltip circle" title="Eliminar">
                <img src="~/Image/delete-item.png"/>
            </a>
            <div style="display:none;">
                @Html.ActionLink("Edit", "Edit", new {id=item.Id_Material}) |
                @Html.ActionLink("Details", "Details", new { id=item.Id_Material}) |
                @Html.ActionLink("Delete", "Delete", new {id=item.Id_Material})
            </div>
        </td>
    </tr>
}

</table>

<script>
    $(document).ready(function () {
        var myDropzone = new Dropzone("div#myId", {
            url: "/Material/SaveFiles",
            paramName: "file",
            maxFilesize: 20, // MB
            accept: function (file, done) {
                done();
            },
            complete: function (data, r) {

                console.log(r.filename);
                $.post("/Material/guardar",
                    r,
                function (respuesta) {

                },"json");
            }
        });
    });
</script>
        <br />
<h2 >Subir Archivos</h2>
<div class="demo"></div>;
<div title="click para subir archivos"><div id="myId" class="dropzone" style="cursor:pointer;border-radius:5px;box-shadow:0 1px 10px #414E5E; height:50px;width:200px;margin-top:-30px; padding-top:15px;padding-left:25px"></div></div>
<br />
<div style=""><b>Puede subir varios archivos la vez.</b></div>
</div>
    </div>
</section>